{{ $allVersions := . }}
{{- range $index, $changes := . }}{{ with $changes -}}
# Changelog for [{{ .Version }}] ({{ .Date }})

The following sections list the changes for {{ .Version }}.

{{ if gt (len $allVersions) 1 -}}
{{/* creating version compare links */ -}}
{{ $next := add1 $index -}}
{{ if ne (len $allVersions) $next -}}
{{ $previousVersion := (index $allVersions $next).Version -}}
{{ if eq .Version "unreleased" -}}
[{{ .Version }}]: https://github.com/owncloud/ocis-proxy/compare/v{{ $previousVersion }}...master

{{ else -}}
[{{ .Version }}]: https://github.com/owncloud/ocis-proxy/compare/v{{ $previousVersion }}...v{{ .Version }}

{{ end -}}
{{ end -}}

{{- /* last version managed by calens, end of the loop */ -}}
{{ if eq .Version "0.1.0" -}}
[{{ .Version }}]: https://github.com/owncloud/ocis-proxy/compare/500e303cb544ed93d84153f01219d77eeee44929...v{{ .Version }}

{{ end -}}
{{- end -}}

## Summary
{{ range $entry := .Entries }}{{ with $entry }}
 * {{ .TypeShort }} #{{ .PrimaryID }}: {{ .Title }}
{{- end }}{{ end }}

## Details
{{ range $entry := .Entries }}{{ with $entry }}
 * {{ .Type }} #{{ .PrimaryID }}: {{ .Title }}
{{ range $par := .Paragraphs }}
   {{ wrapIndent $par 80 3 }}
{{ end -}}
{{ range $url := .IssueURLs }}
   {{ $url -}}
{{ end -}}
{{ range $url := .PRURLs }}
   {{ $url -}}
{{ end -}}
{{ range $url := .OtherURLs }}
   {{ $url -}}
{{ end }}

{{ end }}{{ end -}}
{{ end }}{{ end -}}
