package main

import (
	"fmt"
	"io/ioutil"
	"log"
	"os"
	"path/filepath"
	"reflect"
	"regexp"
	"strings"
	"text/template"

    {{- range $key, $value := .}}
    pkg{{$key}} "{{$value}}"
    {{- end}})

type ConfigField struct {
	EnvVars      []string
	DefaultValue string
	Type         string
	Description  string
	VersionInfo	 string
}

type templateData struct {
	ExtensionName string
	Fields        []ConfigField
}

func main() {
fmt.Println("Generating adoc documentation for environment variables:")
content, err := ioutil.ReadFile("../../docs/templates/ADOC.tmpl")
if err != nil {
    log.Fatal(err)
}
replacer := strings.NewReplacer(
		"github.com/owncloud/ocis/v2/services/", "",
		"/pkg/config/defaults", "",
	)
var fields []ConfigField
var targetFile *os.File
tpl := template.Must(template.New("").Parse(string(content)))

m := map[string]interface{}{
{{- range $key, $value := .}}
	"{{$value}}": *pkg{{$key}}.FullDefaultConfig(),
{{- end }}
}

    targetFolder := "../../docs/services/_includes/adoc/"
    for pkg, conf := range m {
	fields = GetAnnotatedVariables(conf)
	if len(fields) > 0 {
	fmt.Printf("... %s\n", pkg)
		targetFile, err = os.Create(filepath.Join(targetFolder, replacer.Replace(pkg) + "_configvars.adoc"))
		if err != nil {
			log.Fatalf("Failed to create target file: %s", err)
		}
		defer targetFile.Close()

		td := templateData{
			ExtensionName: replacer.Replace(pkg),
			Fields:        fields,
		}
		if err := tpl.Execute(targetFile, td); err != nil {
			log.Fatalf("Failed to execute template: %s", err)
		}
	}
    }
	fmt.Println("done")
}

func GetAnnotatedVariables(s interface{}) []ConfigField {
	t := reflect.TypeOf(s)
	v := reflect.ValueOf(s)

	var fields []ConfigField
	for i := 0; i < t.NumField(); i++ {
		field := t.Field(i)
		value := v.Field(i)

		switch value.Kind() {
		default:
			desc := field.Tag.Get("desc")
			env, ok := field.Tag.Lookup("env")
			if !ok {
				continue
			}
			v := fmt.Sprintf("%v", value.Interface())			
			td := strings.Split(env, ";")
			// re := regexp.MustCompile(`^(https?:\/\/)`)
			// v = re.ReplaceAllString(v,"\\$1")
			re := regexp.MustCompile(`(https?:\/\/)`)
			desc = re.ReplaceAllString(desc, "\\$1")
			re = regexp.MustCompile(`(\|)`)
			v = re.ReplaceAllString(v, "\\$1")
			fields = append(fields, ConfigField{EnvVars: td, DefaultValue: v, Description: desc, Type: value.Type().Name()})
		case reflect.Ptr:
			// PolicySelectors in the Proxy are being skipped atm
			// they are not configurable via env vars, if that changes
			// they are probably added to the Sanitize() function
			// and this should not be an issue then
			if !value.IsZero() && value.Elem().CanInterface() {
				fields = append(fields, GetAnnotatedVariables(value.Elem().Interface())...)
			}
		case reflect.Struct:
			fields = append(fields, GetAnnotatedVariables(value.Interface())...)
		}
	}
	return fields
}
