---
title: {{ .ServiceName }}
date: {{ .CreationTime }}
weight: 20
geekdocRepo: https://github.com/owncloud/ocis
geekdocEditPath: edit/master/docs/services/{{ .service }}
geekdocFilePath: _index.md
geekdocCollapseSection: true
---

## Abstract

{{ .Abstract }}
## Table of Contents

{{ .TocTree }}
{{ .Content }}
