Hello {{ .SpaceGrantee }},

Your membership of space {{ .SpaceName }} has expired at {{ .ExpiredAt }}

Even though this membership has expired you still might have access through other shares and/or space memberships

----------------------------------------------------------

Hallo {{ .SpaceGrantee }},

Deine Mitgliedschaft zu dem Space {{ .SpaceName }} ist am {{ .ExpiredAt }} abgelaufen.

Obwohl diese Mitgliedschaft nicht mehr zur Verfügung steht könntest du immernoch Zugriff über andere Freigaben und/oder Space Mitgliedschaften haben.


---
ownCloud - Store. Share. Work.
https://owncloud.com
