Hello {{ .SpaceGrantee }},

{{ .SpaceSharer }} has invited you to join "{{ .SpaceName }}".

Click here to view it: {{ .ShareLink }}

----------------------------------------------------------

Hallo {{ .SpaceGrantee }},

{{ .SpaceSharer }} hat dich in den Space "{{ .SpaceName }}" eingeladen.

Klicke hier zum Anzeigen: {{ .ShareLink }}


---
ownCloud - Store. Share. Work.
https://owncloud.com
