Hello {{ .SpaceGrantee }},

{{ .SpaceSharer }} has removed you from "{{ .SpaceName }}".

You might still have access through your other groups or direct membership. Click here to check it: {{ .ShareLink }}

----------------------------------------------------------

Hallo {{ .SpaceGrantee }},

{{ .SpaceSharer }} hat dich aus dem Space "{{ .SpaceName }}" entfernt.

Du könntest über deine anderen Gruppen oder deiner direkten Mitgliedschaft noch Zugriff haben. Klicke hier zum Überprüfen: {{ .ShareLink }}


---
ownCloud - Store. Share. Work.
https://owncloud.com
