*/coverage.out
*/checkstyle.xml

ocis/config/identifier-registration.yaml
*/bin
dist/
/hugo
*.key
*crt
node_modules/
*/assets

.idea

yarn-error.log

# Konnectd
idp/assets/identifier

# Composer - used for API acceptance tests
composer.lock
vendor
vendor-bin/**/vendor
vendor-bin/**/composer.lock

# drone CI is in .drone.star, do not let someone accidentally commit a local .drone.yml
.drone.yml

**/l10n/locale
**/l10n/template.pot
