*/coverage.out

ocis/config/identifier-registration.yaml
*/bin
dist/
/hugo
*.key
*crt
node_modules/
*/assets

.idea

yarn-error.log

# Konnectd
konnectd/assets/identifier

# Composer - used for API acceptance tests
composer.lock
vendor
vendor-bin/**/vendor
vendor-bin/**/composer.lock
