---
version: '3.5'

networks:
  testnet:
    name: testnet

services:
  ocis:
    container_name: ocis
    image: owncloud/eos-ocis-dev:latest
    tty: true
    privileged: true
    stdin_open: true
    ports:
      - 9200:9200
    env_file:
      - ./config/eos-docker.env
    hostname: ocis
    networks:
      - testnet
    volumes:
      - .:/ocis
      - ../ocis-reva:/ocis-reva
      - ../reva:/reva
    environment:
      EOS_MGM_URL: ${EOS_MGM_URL:-root://mgm-master.testnet:1094}
      OCIS_DOMAIN: ${OCIS_DOMAIN:-localhost}
      KONNECTD_ISS: https://${OCIS_DOMAIN:-localhost}:9200
      KONNECTD_LOG_LEVEL: debug
      KONNECTD_TLS: '0'
      PHOENIX_OIDC_AUTHORITY: https://${OCIS_DOMAIN:-localhost}:9200
      PHOENIX_OIDC_METADATA_URL: https://${OCIS_DOMAIN:-localhost}:9200/.well-known/openid-configuration
      PHOENIX_WEB_CONFIG_SERVER: https://${OCIS_DOMAIN:-localhost}:9200
      PROXY_HTTP_ADDR: 0.0.0.0:9200
      REVA_OIDC_ISSUER: https://${OCIS_DOMAIN:-localhost}:9200
      OCIS_LOG_LEVEL: debug
      REVA_TRANSFER_EXPIRES: 86400
      REVA_STORAGE_EOS_DRIVER: eoshome
      REVA_STORAGE_EOS_DATA_DRIVER: eoshome
      REVA_STORAGE_EOS_NAMESPACE: "/eos/dockertest/reva/users"
      REVA_STORAGE_EOS_MASTER_URL: ${EOS_MGM_URL:-root://mgm-master.testnet:1094}
      REVA_STORAGE_EOS_SLAVE_URL: ${EOS_MGM_URL:-root://mgm-master.testnet:1094}
      REVA_STORAGE_EOS_LAYOUT: "{{substr 0 1 .Username}}"

  mgm-master:
    container_name: mgm-master
    image: owncloud/eos-mgm:4.6.5
    tty: true
    privileged: true
    stdin_open: true
    env_file:
    - ./config/eos-docker.env
    hostname: mgm-master.testnet
    networks:
    - testnet
    volumes:
    - ./e/master/var/log/eos:/var/log/eos
    - ./e/master/var/eos/config:/var/eos/config
    - ./e/master/var/eos/ns-queue:/var/eos/ns-queue
    # this volume kills mgm-master during startup
    # - ./e/master/var/eos/md:/var/eos/md
    environment:
      EOS_SET_MASTER: 1

  mq-master:
    container_name: mq-master
    image: owncloud/eos-mq:4.6.5
    tty: true
    privileged: true
    stdin_open: true
    env_file:
    - ./config/eos-docker.env
    hostname: mq-master.testnet
    networks:
    - testnet
    volumes:
    - ./e/master/var/log/eos:/var/log/eos
    - ./e/master/var/eos/config:/var/eos/config
    - ./e/master/var/eos/ns-queue:/var/eos/ns-queue
    environment:
      EOS_SET_MASTER: 1

  fst:
    container_name: fst
    image: owncloud/eos-fst:4.6.5
    tty: true
    privileged: true
    stdin_open: true
    env_file:
    - ./config/eos-docker.env
    hostname: fst.testnet
    networks:
    - testnet
    volumes:
    - ./e/master/var/log/eos:/var/log/eos
    - ./e/disks:/disks
    environment:
      EOS_MGM_URL: "root://mgm-master.testnet"

  quark-1:
    container_name: quark-1
    image: owncloud/eos-qdb:4.6.5
    tty: true
    privileged: true
    stdin_open: true
    env_file:
    - ./config/eos-docker.env
    hostname: quark-1.testnet
    networks:
    - testnet
    volumes:
    - ./e/quark-1/var/lib/quarkdb:/var/lib/quarkdb
    environment:
      EOS_QDB_DIR: "/var/lib/quarkdb/eosns"
      EOS_QDB_PORT: "7777"
      EOS_QDB_MODE: "raft"
      EOS_QDB_CLUSTER_ID: "3d659c1a-e70f-43f0-bed4-941a2ca0765b"
      EOS_QDB_NODES: "quark-1.testnet:7777,quark-2.testnet:7777,quark-3.testnet:7777"

  quark-2:
    container_name: quark-2
    image: owncloud/eos-qdb:4.6.5
    tty: true
    privileged: true
    stdin_open: true
    env_file:
    - ./config/eos-docker.env
    hostname: quark-2.testnet
    networks:
    - testnet
    volumes:
    - ./e/quark-2/var/lib/quarkdb:/var/lib/quarkdb
    environment:
      EOS_QDB_DIR: "/var/lib/quarkdb/eosns"
      EOS_QDB_PORT: "7777"
      EOS_QDB_MODE: "raft"
      EOS_QDB_CLUSTER_ID: "3d659c1a-e70f-43f0-bed4-941a2ca0765b"
      EOS_QDB_NODES: "quark-1.testnet:7777,quark-2.testnet:7777,quark-3.testnet:7777"

  quark-3:
    container_name: quark-3
    image: owncloud/eos-qdb:4.6.5
    tty: true
    privileged: true
    stdin_open: true
    env_file:
    - ./config/eos-docker.env
    hostname: quark-3.testnet
    networks:
    - testnet
    volumes:
    - ./e/quark-3/var/lib/quarkdb:/var/lib/quarkdb
    environment:
      EOS_QDB_DIR: "/var/lib/quarkdb/eosns"
      EOS_QDB_PORT: "7777"
      EOS_QDB_MODE: "raft"
      EOS_QDB_CLUSTER_ID: "3d659c1a-e70f-43f0-bed4-941a2ca0765b"
      EOS_QDB_NODES: "quark-1.testnet:7777,quark-2.testnet:7777,quark-3.testnet:7777"
