Hello {{ .ShareGrantee }},

Your share to {{ .ShareFolder }} has expired at {{ .ExpiredAt }}

Even though this share has been revoked you still might have access through other shares and/or space memberships

----------------------------------------------------------

Hallo {{ .ShareGrantee }},

Deine Freigabe zu {{ .ShareFolder }} ist am {{ .ExpiredAt }} abgelaufen.

Obwohl diese Freigabe nicht mehr zur Verfügung steht, könntest du immer noch Zugriff über andere Freigaben und/oder Space Mitgliedschaften haben.


---
ownCloud - Store. Share. Work.
https://owncloud.com
