Hello {{ .ShareGrantee }},

{{ .ShareSharer }} has shared "{{ .ShareFolder }}" with you.

Click here to view it: {{ .ShareLink }}

----------------------------------------------------------

Hallo {{ .ShareGrantee }},

{{ .ShareSharer }} hat dich zu "{{ .ShareFolder }}" eingeladen.

Klicke hier zum Anzeigen: {{ .ShareLink }}


---
ownCloud - Store. Share. Work.
https://owncloud.com
