dn: o=libregraph-idm
o: libregraph-idm
objectClass: organization

dn: ou=users,o=libregraph-idm
objectClass: organizationalUnit
ou: users

dn: ou=sysusers,o=libregraph-idm
objectClass: organizationalUnit
ou: users

dn: ou=groups,o=libregraph-idm
objectClass: organizationalUnit
ou: groups

{{ range . -}}
{{ if eq .Name "admin" -}}
dn: uid=admin,ou=users,o=libregraph-idm
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: ownCloud
objectClass: person
objectClass: top
uid: admin
givenName: Admin
sn: Admin
cn: admin
displayName: Admin
description: An admin for this oCIS instance.
mail: admin@example.org
ownCloudUUID: {{ .ID }}
{{ else -}}
dn: uid={{ .Name }},ou=sysusers,o=libregraph-idm
objectClass: account
objectClass: simpleSecurityObject
uid: {{ .Name }}
{{ end -}}
uidNumber: {{ .UidNumber }}
gidNumber: {{ .GidNumber }}
userPassword:: {{ .Password }}

{{ end -}}


