# http://editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.starlark]
indent_style = space
indent_size = 2

[*.{yml,json}]
indent_style = space
indent_size = 2

[*.{js,vue}]
indent_style = space
indent_size = 2

[*.{css,less}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = true
