// collected through docs/helpers/rougeEnv.go

[caption=]
.Environment variables with global scope not included in a service
[width="100%",cols="~,~,~,~",options="header"]
|===
| Name
| Type
| Default Value
| Description

{{- range .Variables}}

{{- if .Ignore }}
    {{ continue }}
{{- end }}

a| `{{- .Name }}` +
a| [subs=-attributes]
++{{ .Type }} ++
a| [subs=-attributes]
++{{.DefaultValue}} ++
a| [subs=-attributes]
++{{.Description}} ++
a| [subs=-attributes]

{{- end }}
|===
