// collected through docs/helpers/adoc-generator.go.tmpl

[.landscape]
[caption=]
.Environment variables with global scope available in multiple services
[width="100%",cols="30%,25%,~,~,~",options="header"]
|===
| Name
| IV
| Services
| Type
| Default Value
| Description
{{ range . }}
a| `{{ .Name }}`

a| [subs=-attributes]
++{{ .IntroductionVersion }} ++

a| [subs=attributes+]
{{- range .Services}}
* xref:{s-path}/{{ . }}.adoc[{{ . }}] +
{{- end }}

a| [subs=-attributes]
++{{ .Type }} ++

a| [subs=-attributes]
++{{ .DefaultValue }} ++

a| [subs=-attributes]
{{ .Description }}

{{- end }}
|===
