[caption=]
.Environment variables for the {{ .ExtensionName }} extension
[width="100%",cols="~,~,~,~",options="header"]
|===
| Name
| Type
| Default Value
| Description

{{- range .Fields}}
{{ $numVars := len .EnvVars }}
| {{- range $i, $value := .EnvVars }}{{- if $i }} +
{{ end -}}
`{{- $value }}` 
{{- end }}
| {{.Type}}
a| [subs=-attributes]
{{.DefaultValue}} 
a| [subs=-attributes]
{{.Description}}

{{- end }}
|===

Since Version: `+` added, `-` deprecated
