// fade-in left to right

@media (prefers-reduced-motion: reduce) {
  .oc-fade-in {
    animation: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .oc-fade-in {
    animation: fade-in 0.3s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
