auto-install-peers=true
shared-workspace-lockfile=true

# @vue/component-compiler-utils
hoist-pattern[]=sass
hoist-pattern[]=*@codemirror*
hoist-pattern[]=*@lezer*

# eslint (public so they are picked up by IDEs)
public-hoist-pattern[]=*eslint*

# Make ODS available to tests, even if the main package does not require it
public-hoist-pattern[]=@ownclouders/design-system

# c.f. https://github.com/vuejs/test-utils/pull/2197
hoist-pattern[]=@vue/server-renderer

